---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { HOME } from "@consts";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Analysis of New York City’s Educational Environment: Accessibility, Performance, and Safety
    </h4>
    
    <div class="space-y-16">
      <h2 class="font-semibold text-black dark:text-white">About</h2>
      <p>
        This website is designed to provide a clearer understanding of the educational environment in New York City 
        and visualize regional disparities in education. Although education should offer equal opportunities for all, 
        significant differences exist between regions. This project analyzes three key aspects—
        <b>educational facility accessibility</b>, <b>academic performance</b>, and <b>safety</b>—to highlight these inequalities.
      </p>
      <p>
        <b>Educational Facility Accessibility</b>: Visualizing the density of schools by school zones to analyze how 
        easily students can access educational facilities in different areas.
      </p>
      <p>
        <b>Academic Performance</b>: Using standardized test scores to compare academic outcomes across regions and 
        provide specific data on the quality of education.
      </p>
      <p>
        <b>Safety</b>: Showing the safety levels of different areas based on crime data around schools, helping students 
        and parents make informed decisions when choosing schools.
      </p>
      <p>
        All data is visualized separately for  <a href="/astro-maplibre-template/full_page_map"><b>elementary schools</b></a>, 
        <a href="/astro-maplibre-template/middle_school_map"><b>middle schools</b></a>, and <a href="/astro-maplibre-template/high_school_map"><b>high schools</b></a>, allowing for detailed analysis of disparities at each educational stage.
      </p>
      <p>
        This project serves as a resource for New York City residents to consider when choosing where to live, and provides 
        policymakers with data-driven insights to ensure the fair distribution of educational resources.
      </p>
    </div>
  </Container>
</PageLayout>

